body{
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Questrial', sans-serif;
}



#upper-control{
    display: flex;
    margin-bottom: 100px;
    
    
}


.half-wdith{
    width: 50%;
    padding-left: 4%;
    text-align: justify;
          
}
.half-wdith img{
    width: 80%;
    padding-left: 2%;
    border-radius: 4%;
    
    
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato , orange);
    padding: 10px 40px;
    color:white;
    border-radius: 5px;

}
.color{
    color: orangered;
}
.paint{
    color: navy;
}
/*
The codes above are the feet of the first and second sections*/

#lower-banner{

    display: flex;
}
 

.lower-wdith{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    box-shadow: 13px 13px 40px gray;
    margin-left: 4%;
    margin-right: 2%;
    border-radius: 10%;
    border-left:2px solid turquoise;
          
}


.lower-wdith img{
    width: 70%;
    padding: 10%;
    border-radius: 5%;
    
}

.font{
      font-size: medium;
      color:orangered ;
} 
 /*The codes above are all lower-section codes */    


.broder{
    background-color:orange;

}





  
.bottom{
      background-color: cadetblue;
  }
  .food-hunter{
      text-align: center;
  }
  .circle{
    
      text-align: center;
      border-radius: 5%;

}
/*this footer menu.it create by <pre> tag*/
.part{
   text-align: center;
    background-color: orangered;
    box-shadow: 5px 5px 10px gray;
    

   
}   

